<html>
<head>
<title>homePage</title>
</head>
<body>
<form action="/addToCart">
<h2>Welcome to your Shopping Cart</h2>
<table border="1" style="width:700px">
<% for (var i=0; i<R.length; i++) { %>
<tr>
  <td><%=R[i].P_name%>&nbsp;</td>
  <td><%=R[i].S_uname%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td><%=R[i].S_quantity%></td>
    <td><%=R[i].S_price%></td>
   
</tr>
<% } %>
</table>
</form>

