<html>
<head>
<title>homePage</title>
</head>
<body>
<h2>Welcome to the Online Store!</h2>
<form action="/home" method="post">
<p>Here are the available products<p>
</form>
<form action="/loginPage">
