<html>
<head>
<title>Simple ejs</title>
</head>
<body>
<h2>The product name is: <%=prodName%> Product Description is <%=prodDescriptiom%>
product price is : <%=prodPrice%> and Product Quantity: <%=prodQuantity%>
</h2>

</body>
</html>
