<html>
<head>
<title>homePage</title>
<style>
th, td
{
padding:2px;
}
</style>
</head>
<body>

<form action="/loginPage">
<input type="submit" name="submit" value="Sign Out" style="float:right;"/>
</form>

<h2>Hello <%=userName%>, Welcome to the Online Store!</h2>
<form action="/addToCart" method="post">
<p>Your last login: 2014-03-16 16:00:35</p>

<p>Here are the available products on our store.<p>



<table border="1" style="width:700px">
<tr>
  <th>Product ID</th>
  <th>Product Name</th>
  
</tr>
<% for (var i=0; i<R.length; i++) { %>
<tr>
  <td><%=R[i].P_Id%>&nbsp;</td>
  <td><a href = "/showProduct/<%=R[i].P_Id%>"><%=R[i].P_name%></a></td>
</tr>
<% } %>
</table><br>
</body>
</html>