<html>
<head>
<title>Payment</title>
</head>
<body>
<form action="/payment" method="Post">
<h2>Shopping Sucessful!</h2>
<p>Thank you for Shopping with us. Your credit card has been charged and your items will be shipped to you soon.</p>
</form>
</body>
</html>