<html>
<head>
<title>Sign</title>
</head>
<body>
<h2>SignIn</h2>
<form action="/validate" method="post">
User Name: <input type="text" name="userName" id="uname"></input><br><br>
Password: <input type="password" name="Password" id="password"></input><br><br>
<input type="submit" name="submit" value="Sign In"/>
<p>New user? Sign Up!</p>
<input type="submit" name="submit" value="Sign Up"/>

</body>
</html>