<html>
<head>
<title>SignUpForm</title>
</head>
<body>
<h2>SignUp Form</h2>
<form action="/home" method="post">
First Name: <input type="text" name="firstName" id="fname"></input><br><br>
Last Name: <input type="text" name="lastName" id="lname"></input><br><br>
User Name: <input type="text" name="userName" id="uname"></input><br><br>
Email Id: <input type="text" name="emailId" id="email"></input><br><br>
Password: <input type="password" name="password" id="password"></input><br><br>
<input type="submit" name="submit" value="Sign Up"/>
</body>
</html>